@page "/medicine/{id:Guid}"
@model PrimeCareMed.Frontend.Pages.MedicinePresricption.CreateMedicinePrescriptionModel
@{
    ViewData["Title"] = "Prescribe a medicine";
}
<div class="container text-center d-flex align-items-center justify-content-center">
    <div>
        <div>
            <h1>@ViewData["Title"]</h1>
        </div>
        <div>
            <form id="createOfficeForm" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">

                    <select asp-for="NewMedicinePrescription.MedicineId" class="form-select" id="single-select-field" data-placeholder="Choose one thing">
                        <option></option>
                        @foreach (var medicine in Model.Medicines)
                        {
                            <option value="@medicine.Id">@medicine.Name</option>
                        }
                    </select>
                </div>
                <div class="form-floating">
                    <input asp-for="NewMedicinePrescription.Description" class="form-control" aria-required="true" />
                    <label asp-for="NewMedicinePrescription.Description"></label>
                    <span asp-validation-for="NewMedicinePrescription.Description" class="text-danger"></span>
                </div>
                <button id="confirmMedicineSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Confirm</button>
            </form>
            @if (ViewData["Message"] != null)
            {
                <script type="text/javascript">
                    window.onload = function () {
                        alert("@ViewData["Message"]");
                    };
                </script>
            }
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
