@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}

<div class="container text-center d-flex align-items-center justify-content-center">
    <div style="width:450px">
        <section>
            <h1 style="color:#002133; font-family: Garamond, serif; font-weight:bold;">PrimeCareMed</h1>
            <h2 style="color:#002133">@ViewData["Title"]</h2>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mt-2">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mt-2">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg mt-2 text-white" style="background-color: #004266">Log in</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
