@page
@model PrimeCareMed.Frontend.Pages.Medicine.CreateMedicineModel
@{
    ViewData["Title"] = "Add medicine";
}
<div class="container text-center d-flex align-items-center justify-content-center">
    <div>
        <div>
            <h1>@ViewData["Title"]</h1>
        </div>
        <div>
            <form id="createMedicineForm" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="NewMedicine.Name" class="form-control" aria-required="true" />
                    <label asp-for="NewMedicine.Name"></label>
                    <span asp-validation-for="NewMedicine.Name" class="text-danger"></span>
                </div>
                <div class="form-floating mt-3">
                    <b style="color: #002133">
                        Description <br />
                    </b>
                    <textarea rows="8" cols="45" id="cause" name="description"></textarea>
                </div>
                <button id="createMedicineSubmit" type="submit" class="w-100 btn btn-lg text-white" style="background-color: #006622">Confirm</button>
            </form>
            @if (ViewData["Message"] != null)
            {
                <script type="text/javascript">
                    window.onload = function () {
                        alert("@ViewData["Message"]");
                    };
                </script>
            }
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
