@using Microsoft.AspNetCore.Identity
@using BookIt.Core.Entities.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookIt.Frontend</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
    
    <div class="vh-100 d-flex">
        @if (SignInManager.IsSignedIn(User))
        {
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
            <a asp-area="" asp-page="/Index" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <img src="~/images/logo.png" class="app-logo"/>
                <span class="fs-4">BookEat</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item" style="font-size:20px">
                    <a asp-area="" asp-page="/Index" class="nav-link text-white" aria-current="page">
                        <i class="bi bi-house-fill"></i>
                        Home
                    </a>
                </li>
                @if (User.IsInRole("Administrator"))
                {
                    <li class="nav-item" style="font-size:20px">
                        <a asp-area="" asp-page="/Users/ViewAllUsers" class="nav-link text-white" aria-current="page">
                        <i class="bi bi-people-fill"></i>
                        Users
                        </a>
                    </li> 
                    <li class="nav-item" style="font-size:20px">
                        <a asp-area="" asp-page="/Restaurant/ViewAllRestaurants" class="nav-link text-white" aria-current="page">
					    <i class="material-icons">restaurant</i>
                        Restaurants
                        </a>
                    </li>
                }
                @if (User.IsInRole("Manager"))
                {
                    <li class="nav-item" style="font-size:20px">
                        <a asp-area="" asp-page="/Restaurant/ViewAllRestaurants" class="nav-link text-white" aria-current="page">
					    <i class="material-icons">restaurant</i>
                        Restaurant
                        </a>
                    </li>
                }
                @if (User.IsInRole("Customer"))
                {
                    <li class="nav-item" style="font-size:20px">
                        <a asp-area="" asp-page="/Restaurant/ViewAllRestaurants" class="nav-link text-white" aria-current="page">
					    <i class="material-icons">restaurant</i>
                        Restaurants
                        </a>
                    </li>
                }                
                @if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
                {
                    <li class="nav-item" style="font-size:20px">
                        <a asp-area="" asp-page="/Dish/ViewAllDishes" class="nav-link text-white" aria-current="page">
								<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="white" width="20" height="20" x="0px" y="0px"
									 viewBox="0 0 222.5 222.5" style="enable-background:new 0 0 222 222;" xml:space="preserve">
								<path d="M222.5,179.196v5c0,4.143-3.357,7.5-7.5,7.5H7.5c-4.143,0-7.5-3.357-7.5-7.5v-5c0-4.143,3.357-7.5,7.5-7.5H215
C219.143,171.696,222.5,175.054,222.5,179.196z M215.75,155.354c0,4.143-3.357,7.5-7.5,7.5h-194c-4.143,0-7.5-3.357-7.5-7.5
c0-52.252,38.55-95.669,88.702-103.307C95,50.543,94.75,48.953,94.75,47.304c0-9.098,7.402-16.5,16.5-16.5s16.5,7.402,16.5,16.5
c0,1.649-0.25,3.239-0.702,4.743C177.2,59.684,215.75,103.102,215.75,155.354z M103.566,73.537c-1.01-4.018-5.082-6.449-9.102-5.447
c-1.192,0.3-29.421,7.585-47.612,29.125c-15.424,18.264-17.379,41.078-17.454,42.04c-0.325,4.129,2.759,7.74,6.889,8.064
c0.2,0.016,0.398,0.023,0.596,0.023c3.876,0,7.16-2.982,7.469-6.912c0.015-0.188,1.618-18.922,13.962-33.538
c14.961-17.716,39.416-24.153,39.815-24.257C102.141,81.623,104.574,77.552,103.566,73.537z" />	</svg>
                        Dishes
                        </a>
                    </li>
                }
                <li class="nav-item" style="font-size:20px">
                    <a asp-area="" asp-page="/Reservation/ViewAllReservation" class="nav-link text-white" aria-current="page">
					<i class="fa fa-calendar"></i>
					Reservations
                    </a>
                </li>         
            </ul>
            <hr>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://icon-library.com/images/person-png-icon/person-png-icon-29.jpg" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>@UserManager.GetUserName(User)</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                        <button id="logout" type="submit" class="dropdown-item">Logout</button>
                    </form>
                </ul>
            </div>
        </div>
        }
        <div class="px-4 flex-column flex-grow-1 d-flex flex-column py-2">
            <div class="flex-grow-1">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
                <div class="col-md-4 d-flex align-items-center">
                    <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2023 - BookEat</span>
                </div>

                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
                    <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
                    <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
                </ul>
            </footer>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
