@page "/medicalreport/{id:Guid}"
@model PrimeCareMed.Frontend.Pages.MedicalReport.CreateMedicalReportModel
@{
    ViewData["Title"] = "Medical Report";
}
<div class="container text-center d-flex align-items-center justify-content-center">
    <div>
        <div>
            <h1>@ViewData["Title"]</h1>
        </div>
        <div>
            <form id="createMedicineForm" asp-page="../Appointment/ViewAppointmentDetails" asp-route-id="@Model.Id" asp-page-handler="report" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                 <div class="form-floating">
                    <input id="description" type="text" name="description" class="form-control"/>
                    <label for="description">Description</label>
                </div>
                <button id="createMedicalReportSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Save medical report</button>
            </form>
            @if (ViewData["Message"] != null)
            {
                <script type="text/javascript">
                    window.onload = function () {
                        alert("@ViewData["Message"]");
                    };
                </script>
            }
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
